@font-face {
	font-family: Montserrat-Regular;
	src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
	font-family: Raleway-ExtraBold;
	src: url(../fonts/Raleway-ExtraBold.ttf);
}
@font-face {
	font-family: Raleway-ExtraBold;
	src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
	font-family: Raleway-Medium;
	src: url(../fonts/Raleway-Medium.ttf);
}
.container {
    width: 1920px;
    position: absolute;
    margin: 0 auto;
    display: flex;

}

.header {
    width: 100%;
    background-image: url(../img/bg_header.png);
    background-repeat: no-repeat;
    color: white;
    padding: 50px 50px 5header0px 0px;
    height: 1024px;
    position: relative;
    margin: 0 auto;
    display: flex;
    font-family: Montserrat-Regular;
}

.header-productname {
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;
    display: flex;
    margin: 0;
    padding-right: 10%;
    position: relative;
}

.header-nav-ul {
    display: flex;
    margin: 0;
    margin-right: 65px;
    position: relative;
}

.header-nav-ul-li {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    margin: 0px 15px;
    padding: 0;
    list-style: none;
    display: flex;


}

.header-content-center-topspan {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    font-family: Raleway-Medium;
}

.header-content-center-midlespan {
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    font-family: Raleway-ExtraBold;
}

.header-content-center-bottom {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    display: flex;
    position: relative;
}

.header-nav-ul-li-a {
    color: white;
    text-decoration: none;

}
.header-shop {
    padding-right: 45px;
}

.header-shop,
.header-search {
    display: flex;
    position: relative;

}

.header-content-center {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-self: center;


}

.header-content-textblock {
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;

}

.header-content-center-topspan {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    justify-content: center;
}

.header-content-center-midlespan {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    justify-content: center;
}

.header-content-center-bottom {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    justify-content: center;
}

.header-content-center-botton {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    justify-content: center;
}

.header-content {
    position: relative;
    display: in;
    box-sizing: border-box;


}

.header-block {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

}

.header-content-button {
    display: flex;
    position: relative;
    margin: 0px 150px 0px 0px;

}

.header-content-button2 {
    display: flex;
    position: relative;
    margin: 0px 0px 0px 150px;

}

.top-header {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
}

.header-nav {
    position: relative;
    display: inline-block;
    justify-content: center;
    padding: 20px 0px 20% 0px;
    box-sizing: border-box;
}

.header-logo {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
}


.header-nav-content {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;

}

.header-content-center-bottom-text {
    width: 170px;
    height: 53px;
    background-color: #998675;
    border-radius: 3.0px;
    text-decoration: none;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-top: 52px;
    line-height:53px;
    font-family: Raleway-ExtraBold;
}
.header-content-center-bottom-text:hover{
    color:black;
    background-color: white;
    
}
.header-content-center-bottom-text:active{
    background-color: #998675;;
    color: white;
    
}
.header-nav-ul-li-a:hover, .header-shop:hover, .header-search:hover {
    color: #c7b299;
}
.header-nav-ul-li-a:active{
    color: white;
}
.header-shop:hover{
    fill:#c7b299;
}