// out: ../css/style.css, compress:false, strictMath: false
@import "header";
@import "waxom";
@import "section";
@import "latestProjects";
@import "buyit";
@import "fonts";
.container{
    width: 1920px;
    margin: 0 auto;
    display: block;
}